#pages {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
    column-gap: 4%;
    padding-bottom: 10%;
    #page {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 7px grey;
        height: 300px;
        transition: 0.3s;
        img {
            width: 400px;
            height: 240px;
            filter: grayscale(100%);
            transition: 0.3s;
        }
        p {
            font-size: 135%;
            font-weight: 600;
            margin: 0;
            color: black;
        }
        &:hover {
            box-shadow: 5px 5px 9px grey;
            img {
                filter: grayscale(0%);
            }
        }
    }
}

@media (max-width: 320px) {
    #pages {
        display: flex;
        flex-direction: column;
        #page {
            margin-top: 5%;
            height: 160px;
            width: 70%;
            img {
                width: 100%;
                height: 130px;
                filter: grayscale(100%);
                transition: 0.3s;
            }
            p {
                font-size: 80%;
            }
        }
    }
}