.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 104, 104, 0.574);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    #popup {
        border: 3px solid black;
        width: 50%;
        height: 500px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 11px;
        }
        &::-webkit-scrollbar-track {
            background-color: rgb(235, 235, 235);
            border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: rgb(214, 10, 10);
            border-radius: 100px;
        }
        #close {
            margin-left: auto;
            margin-right: 2%;
            margin-bottom: 1%;
            path {
                fill: black;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    fill: rgb(184, 8, 8);
                }
            }
        }
        img {
            width: 20%;
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 120%;
            margin-top: 2%;
            font-weight: 500;
        }
        #disciplines {
            margin: 0;
            li {
                margin: 0;
                padding: 0;
                margin-top: 2%;
                &::marker {
                    color: rgb(214, 10, 10);
                }
            }
        }
        #publications {
            margin: 0;
            li {
                margin: 0;
                padding: 0;
                margin-top: 2%;
                &::marker {
                    color: rgb(214, 10, 10);
                }
                a {
                    font-weight: 400;
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: rgb(180, 12, 12);
                        text-decoration: underline;
                    }
                }
            }
        }
        #books {
            margin: 0;
            li {
                margin: 0;
                padding: 0;
                margin-top: 2%;
                &::marker {
                    color: rgb(214, 10, 10);
                }
                a {
                    font-weight: 400;
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: rgb(180, 12, 12);
                        text-decoration: underline;
                    }
                }
            }
            &:last-child {
                margin-bottom: 2%;
            }
        }
    }
}

.popup.active {
    opacity: 1;
    pointer-events: all;
}
